*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	
}
body{
	position: relative;
	font-family: $font-akzidenz;
	font-weight: normal;
	font-style: normal;	
}
a {
	color: black;
	text-decoration: none;
}
li{
	list-style-type:none;
}
.wrapper{
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}
.container{
	margin: 0 14%;
}
.btn{
	font-family: $font-bebas;
	font-size: 0.94em;
	letter-spacing: 1.5px;
	min-width: 155px;
	min-height: 50px;
	text-transform: uppercase;
	border: none;
	transition: 0.5s linear;
	&:hover{
		box-shadow: 200px 0 0 0 rgba(0,0,0,.3) inset;
	}
	&:active{
		background-color: rgba(255, 255, 255, 0.7);
		box-shadow: 200px 0 0 0 rgba(0,0,0,0.3) inset;
	}
}
.btn--black{
	background-color: rgb(0, 0, 0);
	color: rgb(255, 255, 255);
	
	&:hover{
		box-shadow: 200px 0 0 0 rgba(252, 252, 252, 0.3) inset;
	}
	&:active{
		background-color: rgba(255, 255, 255, 0.7);
		box-shadow: 200px 0 0 0 rgba(0,0,0,.3) inset;
	}
}
.btn--white{
	background-color: white;
	color: black;

	&:hover{
		box-shadow: 200px 0 0 0 rgba(0,0,0,.3) inset;
	}
	&:active{
		background-color: rgba(255, 255, 255, 0.7);
		box-shadow: 200px 0 0 0 rgba(0,0,0,.3) inset;
	}
}
.btn--grey{
	background-color: rgb(240, 240, 240);
	color: black;

	&:hover{
		box-shadow: 200px 0 0 0 rgba(0,0,0,.3) inset;
	}
	&:active{
		background-color: rgba(255, 255, 255, 0.7);
		box-shadow: 200px 0 0 0 rgba(0,0,0,.3) inset;
	}
}
.link{
	font-family: $font-bebas;
}