$font-bebas: 'Bebas', 'Arial Narrow', Arial, sans-serif;
$font-akzidenz: 'AkzidenzGroteskBQ-BdCnd', 'Arial Narrow', Arial, sans-serif;
$font-segoeUI: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

$minwidth: 320px;
$mobile-width: 768px;
$tablet-width: 992px;

$numOfSlides: 3;
$slidingAT: 1.3s;
$controlSize: 40px;