.footer{
	transition: 1s;
	opacity: 0;
}
.footer._active{
	opacity: 1;
	transform: translate(0px, 0px);
}

.footer__wrapper{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 50px 7.2%;
}

.info__copyright{
	transition: 1s;
	padding-bottom: 0px;
	border-bottom: 1px solid rgba(0, 0, 0, 0);
	a{
		font-family: $font-segoeUI;
		font-size: 16px;
		color: #4d4d4d;
	}
	&:hover{
		
		padding-bottom: 10px;
		border-bottom: 1px solid #4d4d4d;
	}
	&:active{
		transition: none;
		border-bottom: 1px solid #000000;
		a{
			color: #000000;
		}
	}
}
@media (max-width: $tablet-width){
	.footer{
		opacity: 1;
	}
}