.header{
	width: 100%;
	min-height: 175px;
}
.nav-wrapper{
	position: relative;
	display: flex;
	flex-direction: column;
	padding: 30px 60px 60px;
	min-height: 175px;
	text-transform: uppercase;
}
.nav__custom, .nav__main{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.nav__custom{	
	align-items: center;
	font-size: 0.75em;
	font-family: $font-bebas;
}
.custom-list{
	display: flex;
	padding: 5px 0;
	.list__item{
		padding: 5px 8px;
	}
	.list__item:not(:last-child){
		margin-right: 10px;
	}
	.list__item.active, .list__item:hover{
		background-color: black;
		a{
			color: white;
		}
		&:active{
			a{
				color: rgba(255, 255, 255, 0.7);
			}
		}
	}
}
.custom-online{
	position: relative;
	font-size: 1.25em;
	word-spacing: 4px;	
	& a {
		border-bottom: 1px solid black ;
	}
	&:hover{
		padding: 5px 7px;
		background-color: black;
		& a{
			display: inline-block;
			color: white;
		}
	}
	&:active{
		& a{
			color: rgba(255, 255, 255, 0.7);
		}
	}
}
.nav__main{
	margin-top: 8px;
	font-size: 1.1em;
	
	align-items: center;
}
.main__list{
	display: flex;

	.list__item a{	
		letter-spacing: 1.5px;
	}

	.list__item:hover{
		border-bottom: 1px solid black;
	}
	.list__item:active{
		& a{
			color: rgba(0, 0, 0, 0.7);
		}
	}

	.list__item:not(:last-child){
		margin-right: 80px;
	}
}
.logo{
	position: relative;
	padding: 0 30px;
	&::before, &::after{
		font-family: $font-bebas;
		text-align: center;
		font-size: 0.6em;
		letter-spacing: 6px;

		position: absolute;
		content: '';
		
		width: 120px;
		height: 30px;
	}
	&::before{
		content: "NYC'S";
		
		top: 0;
		left: 50%;
		margin-left: -60px;
		margin-top: -30px;
	}
	&::after{
		content: "Catering";
		bottom: 0;
		right: 50%;
		margin-right: -60px;
		margin-bottom: -50px;
	}
}
@media (max-width: 1540px){
	.main__list{	
		.list__item:not(:last-child){
			margin-right: 50px;
		}
	}
}
@media (max-width: 1370px){
	.main__list{	
		.list__item:not(:last-child){
			margin-right: 25px;
		}
	}
}
@media (max-width: 1230px){
	.nav__main{
		justify-content: start;
	}
	.logo{
		margin: 0 auto;
	}
	.main__list{	
		.list__item:not(:last-child){
			margin-right: 40px;
		}
	}	
}
@media (max-width: $tablet-width){
	.nav-wrapper{
		padding: 30px 30px 60px;
		min-height: 100px;
	}
	.main__list.hide{
		display: none;
	}
	.main__list{
		z-index: 3;
		flex-direction: column;
		position: absolute;

		.list__item:hover{
			& a{
				color: rgb(255, 255, 255);
				border-bottom: 1px solid rgb(255, 255, 255);
			}
		}
		.list__item:active{
			& a{
				color: rgba(255, 255, 255, 0.7);
				border-bottom: 1px solid rgba(255, 255, 255, 0.7);
			}
		}



		&:not(:first-child){
			margin-top: 210px;
		}

		.list__item:not(:last-child){
			margin-bottom: 15px;
		}
		a {
			color: white;
		}

		.list__item:not(:last-child){
			margin-right: 80px;
		}
	}
	.nav__custom{
		z-index: 1;
		flex-direction: column-reverse;
		align-items: flex-end;
	}
	.custom-online{
		padding: 5px 7px;
		margin-bottom: 15px;
	}
	.logo{
		margin-top: -50px;
	}
}
@media (max-width: $mobile-width){	
	.header .container{
		margin: 0 5%;
	}

	.nav__custom{
		flex-direction: column;
		align-items: center;
	}
	.custom-online{
		font-size: 1.5em;
		margin-top: 190px;
		margin-bottom: 0px;
	}
	.main__list{
		transform: translate(0px, -180px);
		&:not(:first-child){
			margin-top: 240px;
		}
		.list__item:not(:last-child){
			margin-bottom: 20px;
		}
	}

	.logo{
		transform: translate(0px, -120px);
	}
}
