.map-form__wrapeer{
	display: flex;
	transition: 1s;
	opacity: 0;
	transform: translate(-200%, 0%);
}
.map-form__wrapeer._active{
	opacity: 1;
	transform: translate(0px, 0);
}
.map{
	width: 50%;
}
.map-wrapper{
	height: 100%;
	iframe{
		width: 100%;
		min-height: 100%;
	}

}
@media (max-width: $tablet-width){
	.map-form__wrapeer{
		opacity: 1;
		transform: translate(0px, 0%);
	}
}
@media (max-width: $mobile-width){
	.map-form__wrapeer{
		flex-direction: column-reverse;
	}
	.map{
		width: 100%;
	}
	.map-wrapper{
		iframe{
			max-height: 200px;
		}
	}
}