.modal--form{
	.modal__wrapper{
		width: 600px;
		margin-left: -300px;
		align-items: center;
		justify-content: center;
	}
	.main__title{
		text-align: center;
		font-size: 32px;
		margin-top: 70px;
		margin-bottom: 50px;
	}
}
.modal--form.hide{
	width: 0px;
	opacity: 0;
	transform: translate(-30%, 0%) scaleX(0.5);
}
.modal--form.show{
	width: 100%;
	opacity: 1;
	transform: translate(0, 0);
}
@media (max-width: 600px){
	.modal--form{
		.modal__wrapper{
			width: 400px;
			margin-left: -200px;
		}
	}
}
@media (max-width: 320px){
	.modal--form{
		.modal__wrapper{
			width: 350px;
			margin-left: -175px;
		}
	}
}