*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	color: black;
}
body{
	font-family: $font-akzidenz;
	font-weight: normal;
	font-style: normal;	
}
a {
	text-decoration: none;
}
li{
	list-style-type:none;
}
.wrapper{
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}
.container{
	margin: 0 14%;
}
.btn{
	font-family: $font-bebas;
	font-size: 0.94em;
	letter-spacing: 1.5px;
	min-width: 155px;
	background-color: white;
	min-height: 50px;
	color: black;
	text-transform: uppercase;
	border: none;
	transition: 0.5s linear;
	&:hover{
		box-shadow: 200px 0 0 0 rgba(0,0,0,.3) inset;
	}
	&:active{
		background-color: rgba(255, 255, 255, 0.7);
		box-shadow: 200px 0 0 0 rgba(0,0,0,.3) inset;
	}
}
